*{
    box-sizing: border-box;
    /*background-color for smoothing page load*/
    background-color:rgb(20, 34, 34);
}

header {
    height: 100px;
}

#task_set {
    display: inline;
    text-align: left;
    position: relative;
    width: 50%;
    max-width: 500px;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    border-style: outset;
    background-color:darkgrey;   
    cursor: pointer; 
}

button {
    text-align: left;
    display: inline;
    position: relative;
    font-size: 20px;
    width: 100%;
    padding: 20px;
    margin-bottom: 2px;
    word-wrap: break-word;
    border-radius: 10px;
    border-style: outset;
    cursor: pointer;
}

#reset{
    display: inline;
    position:relative;
    width: 25%;
    word-wrap:normal;
    background-color:darkgray;
}

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    float: right;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default html checkbox */
  .switch input {
    display: none;
  }
  
  /* Slider background day*/
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#2196F3;
    transition: 1s ease background-color;
  }
  
  /* The day slider */
  .slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    top: 1px;
    left: 5px;
    background: url("sprite3.png") -75px 0;
    transition: 1s ease;
  }
  
  /* Slider background night */
  input:checked + .slider {
    background-color: #3f505e;
  }
  
  /* The night slider */
  input:checked + .slider:before {
    background: url("sprite3.png") -50px 0;
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    border-style: outset;
  }